/* stylelint-disable no-descending-specificity */
.insight {
  &__container {
    border-top: 1px solid var(--neutral-color-30);
    padding-top: 160px;
    padding-bottom: 91px;

    @include mobile {
      padding-top: 80px;
      padding-bottom: 61px;
    }

    @include small-mobile {
      padding-bottom: 41px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__descr {
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-150);

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__title,
  &__descr {
    text-align: center;
  }

  &__slider {
    position: relative;
  }

  &__article {
    max-width: 582px;

    @include mobile {
      max-width: 420px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-align-center-between;
      margin-bottom: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: var(--neutral-color-150);

      @include small-mobile {
        flex-direction: column;
        align-items: start;
      }
    }

    &-author {
      font-style: normal;
    }

    &-title {
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -0.02em;
      color: var(--neutral-color-100);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 126px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 80px;
  background-color: #fff;
  transition: 0.3s;
  transition-delay: 0.1s;

  @include mini-desktop {
    top: 100px;
  }

  @include tablet {
    width: 30px;
    height: 60px;
  }

  @include mobile {
    display: none;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.4s;

    path {
      transition: 1s;
    }
  }

  &:hover {
    background-color: #7e8492;
  }

  &:hover svg {
    transition-timing-function: ease-in-out;

    path {
      stroke: #fff;
    }
  }
}

.swiper-button-prev {
  right: 50%;
  border-radius: 80px 0 0 80px;

  @include small-tablet {
    right: 33%;
  }

  svg {
    right: 5px;
  }
}

.swiper-button-next {
  left: 50%;
  border-radius: 0 80px 80px 0;

  @include small-tablet {
    left: 67%;
  }

  svg {
    left: 5px;
  }
}