<section class="faq">
  <div class="container faq__container">
    <h2 class="faq__title heading-h2">
      Frequently asked questions
    </h2>
    <p class="faq__descr text-p-medium">
      Everything you need to know about the product and billing.
    </p>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h2 class="faq__accordion-title text-p-large">
          Is there a free trial available?
        </h2>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h2 class="faq__accordion-title text-p-large">
          How Can I Add More Emails To My Account?
        </h2>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h2 class="faq__accordion-title text-p-large">
          Can I Change Plans Or Cancel My Subscription At Any Time
        </h2>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h2 class="faq__accordion-title text-p-large">
          How Secure Is My Date With Sans CRM
        </h2>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h2 class="faq__accordion-title text-p-large">
          What Is The Uptime Guarantee
        </h2>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
      </p>
    </details>
  </div>
</section>