<section class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a class="get-started__form-link" href="mailto:hellosansbrothers@gmail.com">hellosansbrothers@gmail.com</a>
      </p>
      <form class="get-started__form" action="">
        <div class="get-started__form-top">
          <label class="get-started__form-lable ">
            <span class="get-started__form-lable-text text-p-small">
              First name
            </span>
            <input class="get-started__form-input get-started__form-input--small text-p-small" required type="text"
              placeholder="First name" name="first-name">
          </label>
          <label class="get-started__form-lable">
            <span class="get-started__form-lable-text text-p-small">
              Last name
            </span>
            <input class="get-started__form-input get-started__form-input--small text-p-small" required type="text"
              placeholder="Last name" name="last-name">
          </label>
        </div>
        <label class="get-started__form-lable">
        <span class="get-started__form-lable-text text-p-small">
          Email
        </span>
        <input class="get-started__form-input text-p-small" required type="email"
          placeholder="you@company.com" name="mail">
        </label>
        <label class="get-started__form-lable">
        <span class="get-started__form-lable-text text-p-small">
          Phone number
        </span>
        <input 
        required
        id="phone"
        class="get-started__form-input text-p-small" 
        type="tel"
          placeholder="" 
          name="Phone">
        </label>
        <label class="get-started__form-lable">
        <span class="get-started__form-lable-text text-p-small">
          Message
        </span>
        <textarea
        class="get-started__form-input get-started__form-input--textarea text-p-small "
        name="message" 
        type="text"
        required
        placeholder="Leave us a message..."></textarea>
        </label>
        <button class="get-started__form-btn button-form">
          Get Started
        </button>
      </form>
    </div>
    <img class="get-started__img" src="./assets/image/get-started-img.jpg" alt="A woman and men high-five each other"
      loading="lazy" width="987" height="885">
  </div>
</section>