<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Contact our team to find out more
    </h2>
    <div class="hero__map">
      <script type="text/javascript" charset="utf-8" async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Addc46d5233bfdc489ee64171eda4a2f5a3c5f3e2386eb551bc206ea48956f1ec&amp;width=100%&amp;height=545&amp;lang=ru_RU&amp;scroll=true">
      </script>
      <ul class="hero__contacts">
        <li class="hero__contacts-item text-p-default">
          <h3 class="hero__contacts-item-title text-p-large">
            Support
          </h3>
          <p class="hero__contacts-item-descr">
            Our friendly team is here to help.
          </p>
          <a class="hero__contacts-item-link" href="mailto:support@sans.com">support@sans.com</a>
        </li>
        <li class="hero__contacts-item text-p-default">
          <h3 class="hero__contacts-item-title text-p-large">
            Sales
          </h3>
          <p class="hero__contacts-item-descr">
            Questions or queries? Get in touch!
          </p>
          <a class="hero__contacts-item-link" href="mailto:sales@sans.com">sales@sans.com</a>
        </li>
        <li class="hero__contacts-item text-p-default">
          <h3 class="hero__contacts-item-title text-p-large">
            Phone
          </h3>
          <p class="hero__contacts-item-descr">
            Mon-Fri from 8am to 5pm.
          </p>
          <a class="hero__contacts-item-link" href="tel:+14353457655">+1 (435) 345-7655</a>
        </li>
      </ul>
    </div>
  </div>
</section>