<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Contact our team to find out more
    </h2>
    <div class="hero__map-wrapper">
      <div class="map__content">
        <div id="map"></div>
      </div>
      <ul class="hero__contacts">
        <li class="hero__contacts-item text-p-default">
          <h3 class="hero__contacts-item-title text-p-large">
            Support
          </h3>
          <p class="hero__contacts-item-descr">
            Our friendly team is here to help.
          </p>
          <a class="hero__contacts-item-link" href="mailto:support@sans.com">support@sans.com</a>
        </li>
        <li class="hero__contacts-item text-p-default">
          <h3 class="hero__contacts-item-title text-p-large">
            Sales
          </h3>
          <p class="hero__contacts-item-descr">
            Questions or queries? Get in touch!
          </p>
          <a class="hero__contacts-item-link" href="mailto:sales@sans.com">sales@sans.com</a>
        </li>
        <li class="hero__contacts-item text-p-default">
          <h3 class="hero__contacts-item-title text-p-large">
            Phone
          </h3>
          <p class="hero__contacts-item-descr">
            Mon-Fri from 8am to 5pm.
          </p>
          <a class="hero__contacts-item-link" href="tel:+14353457655">+1 (435) 345-7655</a>
        </li>
      </ul>
    </div>
  </div>
</section>