<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="hero__subtitle-wrapper">
      <p class="hero__subtitle text-p-subtitle heading-h5">
        Our digital agency helps clients develop, <br />
        implement and maintain successful digital <br />
        marketing strategies across all channels. Also <br />
        work with you to build your website and create <br />
        online businesses that grow.
      </p>
      <div class="hero__circle">
        <div class="hero__circle-logo">
          <svg
            width="59"
            height="59"
            viewBox="0 0 59 59"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="15.0284"
              y="46.4426"
              width="3.85427"
              height="41.4334"
              transform="rotate(-135 15.0284 46.4426)"
              fill="#161A34"
            />
            <rect
              x="17.8915"
              y="17.9634"
              width="3.85427"
              height="26.9799"
              transform="rotate(-90 17.8915 17.9634)"
              fill="#161A34"
            />
            <rect
              x="44.8912"
              y="41.1089"
              width="3.85427"
              height="26.9799"
              transform="rotate(180 44.8912 41.1089)"
              fill="#161A34"
            />
          </svg>
        </div>
        <div class="hero__circle-text">
          <p>&nbsp; · Get in touch · Get in touch · Get in touch ·</p>
        </div>
        <a class="hero__circle-link" href="/coca/contact.html#get-started"></a>
      </div>
    </div>
  </div>
  <div class="hero__slider-container">
    <div class="container">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <img loading="lazy" src="./assets/image/hero-about-header-img.jpg" />
          </div>
          <div class="swiper-slide hero__slide">
            <img loading="lazy" src="./assets/image/hero-about-people-img.jpg" />
            <h3 class="hero__slide-title heading-h5">What we believe in</h3>
            <p class="hero__slide-text text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is that makes us who
              we are. The qualities that unite us, that make us such an effective team, and...
            </p>
            <a class="hero__slide-btn text-p-default" href="#!"> See Details -> </a>
          </div>
          <div class="swiper-slide hero__slide">
            <img loading="lazy" src="./assets/image/hero-about-womens.jpg" />
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide">
              <img loading="lazy" src="./assets/image/hero-about-header-img.jpg" />
              <h3 class="hero__slide-title heading-h5">What we believe in</h3>
              <p class="hero__slide-text text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is that makes us who
                we are. The qualities that unite us, that make us such an effective team, and...
              </p>
            </div>
            <a class="hero__slide-btn text-p-default" href="#!"> See Details -> </a>
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="about__btn--prev">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="about__btn--next">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>