<section class="team">
  <div class="container">
    <h2 class="team__title heading-h2">
      Meet our team of creators, designers, and world-class problem solvers
    </h2>
    <p class="team__subtitle text-p-medium">
      To become the company that customers want, it takes a group of passionate people. Get to know
      the people who lead
    </p>
    <div class="swiper team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__slide">
          <div class="team__slide-img">
            <img loading="lazy" src="./assets/image/team-arlyne-img.jpg" />
          </div>
          <div class="team__slide-items">
            <div class="team__slide-name text-p-large">Arlyne Stefano</div>
            <div class="team__slide-social">
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-tw.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-in.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-inst.svg" /></a>
            </div>
          </div>
          <div class="team__slide-position text-p-medium">Founder & CEO</div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__slide-img">
            <img loading="lazy" src="./assets/image/team-katy-img.jpg" />
          </div>
          <div class="team__slide-items">
            <div class="team__slide-name text-p-large">Katy Cristy</div>
            <div class="team__slide-social">
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-tw.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-in.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-inst.svg" /></a>
            </div>
          </div>
          <div class="team__slide-position text-p-medium">Chief Technology Officer</div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__slide-img">
            <img loading="lazy" src="./assets/image/team-roger-img.jpg" />
          </div>
          <div class="team__slide-items">
            <div class="team__slide-name text-p-large">Roger Dzawin</div>
            <div class="team__slide-social">
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-tw.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-in.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-inst.svg" /></a>
            </div>
          </div>
          <div class="team__slide-position text-p-medium">Chief Technology Officer</div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__slide-img">
            <img loading="lazy" src="./assets/image/team-arlyne-img.jpg" />
          </div>
          <div class="team__slide-items">
            <div class="team__slide-name text-p-large">Arlyne Stefano</div>
            <div class="team__slide-social">
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-tw.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-in.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-inst.svg" /></a>
            </div>
          </div>
          <div class="team__slide-position text-p-medium">Founder & CEO</div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__slide-img">
            <img loading="lazy" src="./assets/image/team-katy-img.jpg" />
          </div>
          <div class="team__slide-items">
            <div class="team__slide-name text-p-large">Katy Cristy</div>
            <div class="team__slide-social">
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-tw.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-in.svg" /></a>
              <a href="#"><img loading="lazy" src="./assets/icons/team-social-inst.svg" /></a>
            </div>
          </div>
          <div class="team__slide-position text-p-medium">Chief Technology Officer</div>
        </div>
      </div>
      <div class="team__btn--prev">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="team__btn--next">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="team__join">
      <h2 class="team__join-title heading-h2">Join our team, The one with the master touch</h2>
      <div class="team__join-descr">
        <p class="team__join-descr-text text-p-medium">
          We believe it takes great people to make a great product. That’s why we hire not only the
          perfect professional fits, but people who embody our company values.
        </p>
        <a class="team__join-descr-link text-p-default" href="#">See Open Position -></a>
      </div>
    </div>
  </div>
</section>