<section class="team team-decor">
  <div class="container">
    <h2 class="team__title heading-h2">
      Meet our team of creators, designers, and world-class problem solvers
    </h2>
    <p class="team__descr text-p-medium">
      To become the company that customers want, it takes a group of passionate people. Get to know the people who lead
    </p>
    <div class="swiper team__slider">
      <div class="team__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper team-wrapper">
        <div class="swiper-slide team__article">
          <img
            loading="lazy"
            class="team__article-img"
            src="./assets/image/team-arlyne-img.jpg"
            width="379"
            height="434"
            alt="Arlyne Stefano"
          />
          <div class="team__article-description">
            <div class="team__article-description-name">
              <h3 class="team__article-title text-p-large">
              Arlyne Stefano
              </h3>
              <p class="team__article-profession text-p-medium">
            Founder & CEO
          </p>
            </div>
            <div class="team__article-description-social">
              <ul class="team__article-description-social-list">
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="Twitter">
                    <img 
                    src="/assets/icons/team-social-tw.svg"
                    alt="Twitter icon"
                    width="15.49"
                    height="12.8">
                  </a>
                </li>
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="LinkedIn">
                    <img 
                    src="/assets/icons/team-social-in.svg"
                    alt="LinkedIn icon"
                    width="16.92"
                    height="16.15">
                  </a>
                </li>
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="Instagram">
                    <img 
                    src="/assets/icons/team-social-inst.svg"
                    alt="Instagram icon"
                    width="17.07"
                    height="17.07">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide team__article">
          <img
            loading="lazy"
            class="team__article-img"
            src="./assets/image/team-katy-img.jpg"
            width="378"
            height="434"
            alt="Katy Cristy"
          />
          <div class="team__article-description">
            <div class="team__article-description-name">
              <h3 class="team__article-title text-p-large">
              Katy Cristy
              </h3>
              <p class="team__article-profession text-p-medium">
            Chief Technology Officer
          </p>
            </div>
            <div class="team__article-description-social">
              <ul class="team__article-description-social-list">
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="Twitter">
                    <img 
                    src="/assets/icons/team-social-tw.svg"
                    alt="Twitter icon"
                    width="15.49"
                    height="12.8">
                  </a>
                </li>
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="LinkedIn">
                    <img 
                    src="/assets/icons/team-social-in.svg"
                    alt="LinkedIn icon"
                    width="16.92"
                    height="16.15">
                  </a>
                </li>
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="Instagram">
                    <img 
                    src="/assets/icons/team-social-inst.svg"
                    alt="Instagram icon"
                    width="17.07"
                    height="17.07">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide team__article">
          <img
            loading="lazy"
            class="team__article-img"
            src="./assets/image/team-roger-img.jpg"
            width="379"
            height="434"
            alt="Roger Dzawin"
          />
          <div class="team__article-description">
            <div class="team__article-description-name">
              <h3 class="team__article-title text-p-large">
              Roger Dzawin
              </h3>
              <p class="team__article-profession text-p-medium">
            Chief Technology Officer
          </p>
            </div>
            <div class="team__article-description-social">
              <ul class="team__article-description-social-list">
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="Twitter">
                    <img 
                    src="/assets/icons/team-social-tw.svg"
                    alt="Twitter icon"
                    width="15.49"
                    height="12.8">
                  </a>
                </li>
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="LinkedIn">
                    <img 
                    src="/assets/icons/team-social-in.svg"
                    alt="LinkedIn icon"
                    width="16.92"
                    height="16.15">
                  </a>
                </li>
                <li class="team__article-description-social-item">
                  <a class="team__article-description-social-link" href="#" aria-label="Instagram">
                    <img 
                    src="/assets/icons/team-social-inst.svg"
                    alt="Instagram icon"
                    width="17.07"
                    height="17.07">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="team__quote">
      <h2 class="team__quote-title heading-h2">
        Join our team, The one with the master touch
      </h2>
      <div class="team__quote-text">
        <p class="team__quote-text-descr text-p-medium">
        We believe it takes great people to make a great product. That’s why we hire not only the perfect professional fits, but people who embody our company values.
      </p>
      <button class="team__quote-btn text-p-default">
        See Open Position ->
      </button>
      </div>
    </div>
  </div>
</section>