.partners {
  padding: 108px 0;

  @include mobile {
    padding: 76px 0;
  }

  &__container {
    @include flex-all-between;
    gap: 30px;
    max-width: 1110px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 32px;
    color: var(--neutral-color-150);

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: -2px;
      color: var(--neutral-color-100);

      @include small-mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__list {
    @include flex-all-center;
    gap: 10px 25px;
    flex-wrap: wrap;
    transition: var(--transition);

    @include mobile {
      gap: 10px;
    }
  }

  &__item {
    @include flex-all-center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background-color: #fff;
  }

  &__slider {
    overflow: hidden;
    width: 100%;

    @include mobile {
      min-width: 100%;
    }
    
    @include small-mobile {
      min-width: 100%;
    }
  }
}
