<section class="post">
  <div class="container post__container">
    <h1 class="post__title heading-h1">How we perform long-running tasks using AWS services</h1>
    <div class="post__info-top">
      <address class="post__info-top-author">
        <div class="post__author-avatar">
          <img loading="lazy" src="/assets/image/comment-author-1.jpg" width="56" height="56" />
        </div>
        <div class="post__author-details">
          <h3 class="post__author-details-name text-p-medium">Renee Wells</h3>
          <p class="post__author-details-profession text-p-default">Product Designer, Quotient</p>
        </div>
      </address>
      <div class="post__info-top-date text-p-medium">
        10 min read <time datetime="2023-11-10">November 10, 2023</time>
      </div>
    </div>
    <div class="post__image">
      <img loading="lazy" src="/assets/image/post/post-table.jpg" />
    </div>
    <div class="post__content">
      <p>
        Depending on the input, this can result in using a lot of processing power and time. The
        whole process would take approximately 5 seconds to return a result to the client. Keep in
        mind we’re talking about 1 item, a contact from a contact book. After a while, a new
        requirement is added. Solution must support companies that manage their contacts organized
        in files. We agreed to develop a web application that would support upload of dataset files,
        like .csv. The new web application should support third party integrations. Some of them are
        the ESP/CRM services, like Mailchimp. User does not need to see the result immediately.
        System can later notify the user about the result, when the process finishes. This
        information is the key that we need to leverage on when developing our solution. So here’s
        how we did it.
      </p>
      <h2>Initial approach</h2>
      <p>
        Our initial approach went like this: The web application would read a .csv file line-by-line
        and submit an array of entries to the backend REST API. Processing is in real time,
        immediately after the user makes a request for the process to start, he expects a result.
        Another approach is to apply vertical scaling to AWS architecture. Meaning we used larger,
        more expensive instances that have more RAM and processing power. This system worked well
        for smaller datasets, maybe up to 5k entries, but for larger datasets multiple problems
        arose. This solution is prone to failure due to long request time. Also, because of some 3rd
        party services that aren’t optimized for large scale loads or they don’t have batch
        endpoints. 3rd party services also tend to protect their architecture from making a huge
        bill on their end. The whole process was done in real-time. The request can take a lot of
        time hanging in there while the backend would do all the work and return the result to the
        client. The request was limited to 300 seconds (at time of writing the article) before AWS
        would cancel it… Also I need to mention that the user has to wait a few minutes to see the
        results. They can’t use the app during the process, which makes for a bad user experience.
      </p>
    </div>
    <div class="post__info-bottom">
      <div class="post__info-bottom-foto">
        <img loading="lazy" src="/assets/image/comment-author-2.jpg" width="200" height="200" />
      </div>
      <div class="post__info-bottom-details">
        <div class="post__info-bottom-social-wrapper">
          <div class="post__info-bottom-social">
            <a href="#"><img loading="lazy" src="./assets/icons/team-social-fb.svg" /></a>
            <a href="#"><img loading="lazy" src="./assets/icons/team-social-tw.svg" /></a>
            <a href="#"><img loading="lazy" src="./assets/icons/team-social-in.svg" /></a>
            <a href="#"><img loading="lazy" src="./assets/icons/team-social-inst.svg" /></a>
          </div>
          <p class="post__info-bottom-social">Share this article</p>
        </div>
        <div class="post__info-bottom-author">
          <p class="post__info-bottom-author-written text-p-default">Written by</p>
          <h3 class="post__info-bottom-author-name heading-h5">Renee Wells</h3>
          <p class="post__info-bottom-author-profession text-p-default">
            Product Designer, Quotient
          </p>
          <p class="post__info-bottom-author-descr text-p-medium">
            Skilled in React Native, iOS and backend, Toni has a demonstrated knowledge of the
            information technology and services industry, with plenty of hands-on experience to back
            it up.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>