:root {
  // neutral colors
  --neutral-color-10: #fff;
  --neutral-color-20: #f5f5f5;
  --neutral-color-60: #18181d;
  --neutral-color-100: #1d1e25;
  --neutral-color-120: #828282;
  --neutral-color-130: #d9d9d9;
  --neutral-color-140: #000;

// Primary Color
--primary-color-50: #4e7ddb;

  // Logo colors
  --logo-color-text: #101010;
  --logo-color-circle: #101010;

  // container
  --container-padding: 15px;
  --container-width: 1200px;


  // transition 
  --transition: 0.2s ease-in-out; 

  // z-index
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}

[data-theme="dark"] {
  // neutral colors
  --neutral-color-10: #1d1e25;
  --neutral-color-100: #fff;
  --neutral-color-140: #f5f5f5;

    // Logo colors
  --logo-color-text: #fff;
  --logo-color-circle: #343542;
}
