:root {
  // neutral colors
  --neutral-color-10: #fff;
  --neutral-color-20: #f5f5f5;
  --neutral-color-30: #ededed;
  --neutral-color-40: #ced1d8;
  --neutral-color-50: #afb3bb;
  --neutral-color-60: #18181d;
  --neutral-color-70: #606060;
  --neutral-color-90: #161A34;
  --neutral-color-100: #1d1e25;
  --neutral-color-120: #828282;
  --neutral-color-130: #d9d9d9;
  --neutral-color-140: #000;
  --neutral-color-150: #7E8492;

  // Primary Color
  --primary-color-30: #1463FF;
  --primary-color-50: #4e7ddb;
  --primary-color-60: #4b628f;

  // success colors
  --success-color-70: #e2f8f0b3;

  // Logo colors
  --logo-color-text: #101010;
  --logo-color-circle: #101010;

  // bg colors
  --black-bg-color: #1d1e25;

  // container
  --container-padding: 15px;
  --container-width: 1200px;

  @include mini-desktop {
    --container-width: 1000px;
  }

  @include tablet {
    --container-width: 860px;
  }

  @include mobile {
    --container-width: 480px;
  }

  // transition
  --transition: 0.2s ease-in-out;

  // z-index
  --z-index-0: -1;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}

[data-theme="dark"] {
  // neutral colors
  --neutral-color-10: #1d1e25;
  --neutral-color-100: #fff;
  --neutral-color-140: #f5f5f5;

  // Logo colors
  --logo-color-text: #fff;
  --logo-color-circle: #343542;

  // success colors
  --success-color-70: #e2f8f033;

  // overview coors
  --black-bg-color: #18181d;

}
