@mixin burger {
    --burger-width: 28px;
    --burger-height: 22px;
    --burger-line-height: 3px;
    position: relative;
    z-index: var(--z-index-3);
    display: none;
    width: var(--burger-width);
    height: var(--burger-height);
    color: var(--neutral-color-140);
    background-color: transparent;

    @include small-tablet {
        display: block;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentcolor;
    }

    &::before {
        top: 0;
        transition:
            transform 0.2s,
            top 0.2s 0.2s;
        transition-duration: 0.2s;
    }

    &::after {
        top: calc(100% - var(--burger-line-height));
        transition:
            transform 0.2s,
            top 0.2s 0.2s;
        transition-duration: 0.2s;
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentcolor;
        transform: translateY(-50%);
        transition: transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s;
    }

    &::before,
    &::after,
    &__line {
        border-radius: 28px;
    }

    &--active {
        &::before {
            top: 50%;
            transform: rotateZ(-45deg);
            transition:
                top 0.2s,
                transform 0.2s 0.2s;
        }

        &::after {
            top: 50%;
            transform: rotateZ(45deg);
            transition:
                top 0.35s,
                transform 0.2s 0.2s;
        }

        /* stylelint-disable-next-line selector-class-pattern */
        .burger__line {
            transform: scale(0);
        }
    }
}