@mixin font-face($font-family, $url, $wight, $font-style: normal) {
  @font-face {
    src: local($font-family) 
      url('../../fonts/#($url).woff') format("woff"),
      url("../../fonts/#($url).woff2") format("woff2");
    font-family: $font-family;
    font-weight: $wight;
    font-style: $font-style;
    font-display: swap;
  }
}
