html {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  position: relative;
  overflow-x: hidden;
  color: var(--neutral-color-100);
  background-color: var(--neutral-color-10);

  &--fixed {
    overflow-y: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* stylelint-disable-next-line selector-type-no-unknown */
lable {
  cursor: pointer;
}

// ==========================

.container {
  margin: 0 120px;
  padding: 0 var(--container-padding);
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}
