/* stylelint-disable font-family-name-quotes */
// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  cursor: pointer;
}

// General
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth !important;
}

.body {
  overflow-x: hidden; 
  color: var(--neutral-color-100);
  background-color: var(--neutral-color-10);

  &--fixet {
    overflow-y: hidden;

    .header {
      background-color: transparent;
    }
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto; 
  padding: 0 var(--container-padding);
  height: 100%; 
  max-width: calc(
    var(--container-width) + (var(--container-padding) * 2)
  );
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none !important;
}