<section class="articles">
  <div class="container">
    <div class="articles__top">
      <div class="articles__top-wrapper">
        <h2 class="articles__top-title heading-h2">Articles</h2>
        <p class="articles__top-descr text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by experts.
        </p>
      </div>
      <div class="articles__top-nav">
        <button class="articles__top-btn articles__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="white"
            />
          </svg>
        </button>
        <button class="articles__top-btn articles__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="articles__slide-container">
    <div class="container">
      <div class="swiper articles__slider">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide articles__slide">
            <div class="articles__slide-img">
              <img loading="lazy" src="./assets/image/blog/article-1.jpg" />
            </div>
            <h3 class="articles__slide-title heading-h5">
              List of UX Designer Portfolio / Case Studies where you can make money
            </h3>
            <p class="articles__slide-descr text-p-medium">
              Here are some portfolios / Case Studies from UX Designers that you can use as a
              reference for creating a portfolio. Two interesting things from their portfolio are:
            </p>
            <a class="articles__slide-btn button-form" href="#">Read More</a>
          </div>
          <div class="swiper-slide articles__slide">
            <div class="articles__slide-img">
              <img loading="lazy" src="./assets/image/blog/article-2.jpg" />
            </div>
            <h3 class="articles__slide-title heading-h5">
              Skyrocketing in The Designing Career, Why Not?
            </h3>
            <p class="articles__slide-descr text-p-medium">
              Ever thought of jumping into the world of design as a career? If not, you may want to
              look at what the word ‘design’ actually means. Design is a method of designing
              aesthetic actions that are carried out.
            </p>
            <a class="articles__slide-btn button-form" href="#">Read More</a>
          </div>
          <div class="swiper-slide articles__slide">
            <div class="articles__slide-img">
              <img loading="lazy" src="./assets/image/blog/article-3.jpg" />
            </div>
            <h3 class="articles__slide-title heading-h5">
              Elements that may be missed when designing the UI
            </h3>
            <p class="articles__slide-descr text-p-medium">
              This is an article that talks about the little elements that are often overlooked when
              designing UI.
            </p>
            <a class="articles__slide-btn button-form" href="#">Read More</a>
          </div>
          <div class="swiper-slide articles__slide">
            <div class="articles__slide-img">
              <img loading="lazy" src="./assets/image/blog/article-1.jpg" />
            </div>
            <h3 class="articles__slide-title heading-h5">
              Elements that may be missed when designing the UI
            </h3>
            <p class="articles__slide-descr text-p-medium">
              This is an article that talks about the little elements that are often overlooked when
              designing UI.
            </p>
            <a class="articles__slide-btn button-form" href="#">Read More</a>
          </div>
          <div class="swiper-slide articles__slide">
            <div class="articles__slide-img">
              <img loading="lazy" src="./assets/image/blog/article-2.jpg" />
            </div>
            <h3 class="articles__slide-title heading-h5">
              Elements that may be missed when designing the UI
            </h3>
            <p class="articles__slide-descr text-p-medium">
              This is an article that talks about the little elements that are often overlooked when
              designing UI.
            </p>
            <a class="articles__slide-btn button-form" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
