<section class="hero hero-decor">
  <div class="container">
    <h1 class="hero__title heading-h1">Activity & Updates</h1>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're<br />
      always designing and building products that<br />
      will help you run your business better.
    </p>
    <div class="hero__tabs">
      <ul class="hero__tabs-list text-p-default">
        <li class="hero__tabs-item hero__tabs-item--active">
          <button class="hero__tabs-link">View all</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="design" class="hero__tabs-link">Design</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="articles" class="hero__tabs-link">Articles</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="product" class="hero__tabs-link">Product</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="software" class="hero__tabs-link" href="#">Software Development</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="customer" class="hero__tabs-link" href="#">Customer Success</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero__slider-container">
    <div class="container">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide" data-rubric="design">
            <div class="hero__slide-img">
              <img loading="lazy" src="./assets/image/blog/blog-woman-smile.jpg" />
            </div>
            <div class="hero__slide-head text-p-small">
              <div class="hero__slide-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2021</time>
              </div> 
            </div>
            <a href="/coca/post.html">
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </a>
          </div>
          <div class="swiper-slide hero__slide" data-rubric="design">
            <div class="hero__slide-img">
              <img loading="lazy" src="./assets/image/blog/blog-about-womens.jpg" />
            </div>
            <div class="hero__slide-head text-p-small">
              <div class="hero__slide-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__slide-author">by : Albert Sans</address>
            </div>
            <a href="/coca/post.html">
              <h3 class="hero__slide-title heading-h5">Overview of the Design Principles</h3>
              <p class="hero__slide-descr">
                What are Design Principles?… To understand design principles, we first discuss the
                principles.
              </p>
            </a>
          </div>
          <div class="swiper-slide hero__slide" data-rubric="articles">
            <div class="hero__slide-img">
              <img loading="lazy" src="./assets/image/blog/blog-men-and-woman.jpg" />
            </div>
            <div class="hero__slide-head text-p-small">
              <div class="hero__slide-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2021 </time>
              </div>
              <address class="hero__slide-author">by : Albert Sans</address>
            </div>
            <a href="/coca/post.html">
              <h3 class="hero__slide-title heading-h5">Using Grid in website design</h3>
              <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
            </a>
          </div>
          <div class="swiper-slide hero__slide" data-rubric="product">
            <div class="hero__slide-img">
              <img loading="lazy" src="./assets/image/blog/blog-woman-smile.jpg" />
            </div>
            <div class="hero__slide-head text-p-small">
              <div class="hero__slide-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2021</time>
              </div>
              <address class="hero__slide-author">by : Albert Sans</address>
            </div>
            <a href="/coca/post.html">
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </a>
          </div>
        </div>
        <div class="blog__btn--next">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="blog__btn--prev">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>