<section class="posts">
  <div class="container posts__container">
    <article class="article">
      <div class="article__img">
        <img loading="lazy" src="./assets/image/blog/blog-table.jpg" />
      </div>
      <div class="article__descr">
        <a href="/coca/post.html">
          <h2 class="article__title heading-h3">
            How we perform long-running tasks using AWS services
          </h2>
          <p class="article__text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all in one. While you
            are probably familiar with all of these, they are usually entirely separate tools.
          </p>
        </a>
      </div>
    </article>
    <article class="article">
      <div class="article__img">
        <img loading="lazy" src="./assets/image/blog/blog-group.jpg" />
      </div>
      <div class="article__descr">
        <a href="/coca/post.html">
          <h2 class="article__title heading-h3">How to ask when doing User Research</h2>
          <p class="article__text text-p-medium">
            Bro, the story is that you want to make an application for buying and selling goods on
            the market. During user research, what do you think you will ask people?
          </p>
        </a>
      </div>
    </article>
    <article class="article">
      <div class="article__img">
        <img loading="lazy" src="./assets/image/blog/blog-control.jpg" />
      </div>
      <div class="article__descr">
        <a href="/coca/post.html">
          <h2 class="article__title heading-h3">
            Layout Exploration — Simple exercise but big effect
          </h2>
          <p class="article__text text-p-medium">
            Make alternatives or other options for the design we are making. For example, we are
            creating a website design. Then there is the testimonial section.
          </p>
        </a>
      </div>
    </article>
    <article class="article">
      <div class="article__img">
        <img loading="lazy" src="./assets/image/blog/blog-men.jpg" />
      </div>
      <div class="article__descr">
        <a href="/coca/post.html">
          <h2 class="article__title heading-h3">Webflow Break the Coding Barrier</h2>
          <p class="article__text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all in one. While you
            are probably familiar with all of these, they are usually entirely separate tools.
          </p>
        </a>
      </div>
    </article>
  </div>
</section>