<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <div class="footer__head-text">
        <h3 class="footer__title">Think beyond the wave</h3>
        <p class="footer__descr text-p-medium">
          Ask about Sans products, pricing, implementation, or anything else.
          Our highly trained reps are standing by, ready to help
        </p>
      </div>
      <a href="#" class="footer__link button-form">Try for free</a>
    </div>
    <div class="footer__body">
      <div class="footer__body-info">
        <a class="footer__logo" href="/" aria-label="Home page">
          <img src="./assets/icons/light-logo.svg" loading="lazy" width="140" height="42" alt="Coca logo">
        </a>
        <p class="footer__body-descr text-p-default">
          We built an elegant solution. Our team created a fully integrated sales and marketing solution for SMBs
        </p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list text-p-default">
          <li class="footer__item">
            <h4 class="footer__item-title">Company</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/about.html">About</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/pricing.html">Pricing</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/jobs.html">Jobs</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/blog.html">Blog</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h4 class="footer__item-title">Product</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Sales Software</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Marketplace</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Terms & Conditions</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Privacy Policy</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h4 class="footer__item-title">Discover</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">CRM Comparision</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Partner Program</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">What is CRM</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Resource</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h4 class="footer__item-title">Help Center</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Community</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Knowledge Base</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Academy</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Support</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-lists">
        <ul class="footer__social-list">
          <li class="footer__socia-item">
            <a class="footer__social-link" href="#" aria-label="Facebook">
              <img src="./assets/icons/socials/fb-icon.svg" loading="lazy" width="20" height="20" alt="Facebook icon">
            </a>
          </li>
          <li class="footer__socia-item">
            <a class="footer__social-link" href="#" aria-label="Twitter">
              <img src="./assets/icons/socials/tw-icon.svg" loading="lazy" width="20" height="20" alt="Twitter icon">
            </a>
          </li>
          <li class="footer__socia-item">
            <a class="footer__social-link" href="#" aria-label="Instagram">
              <img src="./assets/icons/socials/inst-icon.svg" loading="lazy" width="20" height="20"
                alt="Instagram icon">
            </a>
          </li>
          <li class="footer__socia-item">
            <a class="footer__social-link" href="#" aria-label="LinkedIn">
              <img src="./assets/icons/socials/in-icon.svg" loading="lazy" width="20" height="20" alt="LinkedIn icon">
            </a>
          </li>
        </ul>
        <ul class="footer__bottom-list text-p-small">
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Terms & Conditions Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Support</a>
          </li>
        </ul>
      </div>
      <div class="footer__copyright text-p-small">
        © Copyright 2023, All Rights Reserved
      </div>
    </div>
  </div>
</footer>