<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <div class="partners__slider">
      <ul class="partners__list">
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/airbnb-logo-icon.svg" 
        width="97"
        height="30"
        loading="lazy"
        alt="Airbnb logo icon">
      </li>
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/amazon-logo-icon.svg" 
        width="98"
        height="30"
        loading="lazy"
        alt="Amazon logo icon">
      </li>
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/fedex-logo-icon.svg" 
        width="94"
        height="28"
        loading="lazy"
        alt="Fedex logo icon">
      </li>
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/microsoft-logo-icon.svg" 
        width="115"
        height="24"
        loading="lazy"
        alt="Microsoft logo icon">
      </li>
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/google-logo-icon.svg" 
        width="89"
        height="30"
        loading="lazy"
        alt="Google logo icon">
      </li>
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/ola-logo-icon.svg" 
        width="92"
        height="32"
        loading="lazy"
        alt="Ola logo icon">
      </li>
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/walmart-logo-icon.svg" 
        width="113"
        height="26"
        loading="lazy"
        alt="Walmart logo icon">
      </li>
      <li class="partners__item">
        <img 
        src="./assets/icons/partners/oyo-logo-icon.svg" 
        width="79"
        height="30"
        loading="lazy"
        alt="Oyo logo icon">
      </li>
      </ul>
    </div>
    
  </div>
</section>