.hero-decor {
  position: relative;

  &::before {
    top: 50px;
    left: 181px;
    width: 551px;
    height: 551px;
    background: #fa7515;
    opacity: 0.2;
    filter: blur(220px);

    @include mini-desktop {
      left: 80px;
      width: 351px;
      height: 351px;
    }

    @include small-tablet {
      top: 20px;
      left: 40px;
      width: 251px;
      height: 251px;
    }
  }

  &::after {
    right: 0;
    bottom: 0;
    width: 525px;
    height: 525px;
    background: var(--success-color-70);
    filter: blur(180px);

    @include mini-desktop {
      width: 325px;
      height: 325px;
    }

    @include small-tablet {
      width: 225px;
      height: 225px;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: var(--z-index-0);
    display: inline-block;
    border-radius: 50%;
  }
}