.heading {
    &-h1 {
        font-size: 72px;

        @include tablet {
            font-size: 56px;
        }

        @include mobile {
            font-size: 40px;
        }

        @include small-mobile {
            font-size: 34px;
        }
    }

    &-h2 {
        font-size: 56px;

        @include tablet {
            font-size: 46px;
        }

        @include mobile {
            font-size: 36px;
        }

        @include small-mobile {
            font-size: 30px;
        }
    }

    &-h3 {
        font-size: 40px;

        @include tablet {
            font-size: 32px;
        }

        @include mobile {
            font-size: 26px;
        }

        @include small-mobile {
            font-size: 24px;
        }
    }

    &-h4 {
        font-size: 36px;

        @include mobile {
            font-size: 24px;
        }
    }

    &-h5 {
        font-size: 32px;

        @include tablet {
            font-size: 28px;
        }

        @include mobile {
            font-size: 24px;
        }

        @include small-mobile {
            font-size: 22px;
        }
    }

    &-h1,
    &-h2,
    &-h3,
    &-h4,
    &-h5 {
        line-height: 120%;
    }
}

.text {
    &-p {
        &-subtitle {
            @include flex-align-center;
            gap: 27px;
            font-weight: 600;
            font-size: 32px;
            line-height: 131%;
            letter-spacing: -0.03em;
            color: var(--neutral-color-100);

            @include tablet {
                font-size: 28px;
            }

            @include mobile {
                font-size: 24px;
            }

            @include small-mobile {
                font-size: 20px;
            }

            &::before {
                content: '';
                display: inline-block;
                width: 76px;
                height: 1px;
                background-color: var(--neutral-color-100);
                transform: translateY(-43px);

                @include mini-desktop {
                    display: none;
                }
            }
        }

        &-large {
            font-size: 24px;

            @include mobile {
                font-size: 18px;
            }
        }

        &-medium {
            font-size: 18px;

            @include mobile {
                font-size: 16px;
            }
        }

        &-default {
            font-size: 16px;
        }

        &-small {
            font-size: 14px;
        }
    }
}