.hero {
  padding: 90px 0 38px;

  @include mobile {
    padding: 30px 0 12px;
  }

  &__title {
    margin-bottom: 100px;
    max-width: 741px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--neutral-color-100);

    @include tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__map {
    @include flex-all-between;
    gap: 86px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      gap: 36px;
    }

    &-api {
      width: 600px;
      height: 400px;
    }
  }

  &__contacts {
    max-width: 176px;

    @include tablet {
      @include flex-all-center;
      gap: 40px;
      max-width: 100%;

      @include small-tablet {
      flex-direction: column;
      text-align: center;
      }

      @include mobile {
        gap: 20px;
      }
    }

    &-item {
      border-bottom: 1px solid var(--neutral-color-50);
      padding-bottom: 14px;

      @include small-tablet {
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 40px;

        @include tablet {
          margin-bottom: 0;
        }
      }

      &-title {
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 133%;
        color: var(--neutral-color-100);
      }

      &-text {
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 150%;
        color: var(--neutral-color-150);
      }

      &-link {
        font-weight: 500;
        line-height: 162%;
        color: var(--neutral-color-100);
      }
    }
  }
}