.hero {
  padding: 90px 0 78px;

  @include mobile {
    padding: 40px 0 68px;
  }

  &__top {
    padding-bottom: 186px;
    text-align: center;

    @include tablet {
      padding-bottom: 93px;
    }

    @include mobile {
      padding-bottom: 56px;
    }

    &::before {
      top: -20px;
    }

    &::after {
      bottom: -320px;
    }
  }

  &__badge {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 16px;
    padding: 4px 12px;
    background: #1463ff1a;

    &-title {
      font-weight: 600;
      line-height: 1.5;
      color: var(--primary-color-30);
    }
  }

  &__subtitle {
    margin: 0 auto 56px;
    max-width: 903px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 36px;
    }
  }

  &__switcher {
    position: relative;
    border-radius: 12px;
    width: 44px;
    height: 24px;
    background-color: var(--neutral-color-30);
    transition: background-color var(--transition);

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: var(--neutral-color-120);
      transition: all var(--transition);
    }

    &-wrapper {
      display: inline-flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
    }

    &-checkbox {
      appearance: none;
    }

    &-text {
      font-weight: 500;
      line-height: 1.625;
      color: var(--neutral-color-150);
    }

    &:has(&-checkbox:checked) {
      &::before {
        left: 22px;
        background-color: var(--primary-color-30);
      }
    }
  }

  &__item {
    border: 1px solid var(--neutral-color-30);
    border-radius: 16px;
    padding: 40px 24px;
    max-width: 378px;

    @include mini-desktop {
      max-width: 320px;
    }

    @include tablet {
      max-width: 450px;
    }

    &:first-child {
      @include tablet {
        order: 2;
      }
    }

    &:last-child {
      @include tablet {
        order: 3;
      }
    }

    &--popular {
      border: 1px solid var(--primary-color-60);
      background: var(--neutral-color-90);
      transform: translateY(-76px);

      @include tablet {
        order: 1;
        transform: inherit;
      }
    }
  }

  &__plans {
    @include flex-align-center-between;

    @include tablet {
      gap: 20px;
      flex-direction: column;
    }

    &-icon {
      @include flex-all-center;
      margin-bottom: 16px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: var(--neutral-color-20);
    }

    &-badge {
      display: none;
    }

    &-title {
      font-weight: 600;
      line-height: 1.41;
      color: var(--neutral-color-100);
    }

    &-desc {
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 1.625;
      color: var(--neutral-color-150);
    }

    &-price {
      font-weight: 500;
      line-height: 1.625;
      color: var(--neutral-color-150);

      &-num {
        margin-right: 8px;
        margin-bottom: 24px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
      }
    }

    &-included {
      &-title {
        margin-bottom: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: var(--neutral-color-100);
      }
    }

    &-list {
      display: grid;
      gap: 16px;
      margin-bottom: 40px;
    }

    &-item {
      font-weight: 500;
      line-height: 1.625;
      color: var(--neutral-color-100);

      &::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: url('../assets/icons/pricing/available-icon.svg');
        background-repeat: no-repeat;
        transform: translateY(2px);
      }

      &--inaccess {
        text-decoration: line-through;
        color: var(--neutral-color-150);

        &::before {
          background: url('../assets/icons/pricing/unavailable-icon.svg');
        }
      }
    }

    &-btn {
      border: 1px solid var(--neutral-color-40);
      border-radius: 100px;
      padding: 16px 44px;
      font-weight: 600;
      line-height: 1.5;
      color: var(--neutral-color-100);
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.8;
      }

      &-wrapper {
        text-align: center;
      }
    }
  }

  &__item--popular &__plans {
    &-top {
      @include flex-justify-between;
      align-items: start;
    }

    &-icon {
      background: #1463ff;
    }

    &-badge {
      display: inline-block;
      border-radius: 100px;
      padding: 6px 12px;
      background: #1463ff;

      &-title {
        font-weight: 500;
        line-height: 1.43;
        text-align: center;
        color: #fff;
      }
    }

    &-title {
      color: var(--neutral-color-10);
    }

    &-price {
      color: var(--neutral-color-10);

      &-num {
        color: var(--neutral-color-10);
      }
    }

    &-included {
      &-title {
        color: var(--neutral-color-10);
      }
    }

    &-item {
      color: var(--neutral-color-10);

      &--inaccess {
        color: var(--neutral-color-150);
      }
    }

    &-btn {
      color: #1d1e25;
      background-color: #fff;
    }
  }
}