.quote {
  &__container {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 87px 0 85px;
  }

  &__content {
    @include flex-align-center-between;

    @include tablet {
      gap: 20px;
      flex-direction: column;
      text-align: center;
    }

    &-title {
      max-width: 480px;
      font-weight: 600;
      letter-spacing: -2px;
      color: var( --neutral-color-100);

      @include tablet {
        margin-bottom: 10px;
        max-width: 250px;
        font-size: 30px;
        text-align: center;
      }
    }

    &-descr {
      max-width: 470px;
      font-weight: 600;
      line-height: 150%;
      color: var(--neutral-color-100);

      @include tablet {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}