<section class="features">
  <div class="container features__container">
    <div class="features__left">
      <img loading="lazy" src="./assets/image/features-img.jpg" width="585" height="651" alt="Woman typing on laptop">
      <div class="features__stats">
        <div class="features__stats-head">
          <h4 class="features__stats-title text-p-default">Statictic</h4>
          <img loading="lazy" src="./assets/icons/more-icon.svg" width="18" height="19" alt="Ellipsis icon">
        </div>
        <div class="features__stats-item">
          <img 
          class="features__stats-img"
          src="./assets/icons/features-total-income.svg" 
          width="95"
          height="88"
          loading="lazy"
          alt="total income">
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total Income</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">
                $7.020
              </span>
              <div class="features__stats-item-price-proc">
                <svg width="10.000000" height="6.000000" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>
                    Created with Pixso.
                  </desc>
                  <defs />
                  <path id="Icon"
                    d="M9.7 5.7C9.31 6.09 8.68 6.09 8.29 5.7L5 2.41L1.7 5.7C1.31 6.09 0.68 6.09 0.29 5.7C-0.1 5.31 -0.1 4.68 0.29 4.29L4.29 0.29C4.68 -0.1 5.31 -0.1 5.7 0.29L9.7 4.29C10.09 4.68 10.09 5.31 9.7 5.7Z"
                    fill="#50CD89" fill-opacity="1.000000" fill-rule="evenodd" />
                </svg>
                15%
              </div>
            </div>
            <p class="features__stats-item-descr">
              Your Income of this month compared to last month
            </p>
          </div>
        </div>
        <div class="features__stats-item">
          <img 
          class="features__stats-img"
          src="./assets/icons/features-total-expense.svg" 
          width="95"
          height="88"
          loading="lazy"
          alt="Total expense">
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total Expense</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">
                $2.150
              </span>
              <div class="features__stats-item-price-proc">
                <svg width="10.000000" height="6.000000" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>
                    Created with Pixso.
                  </desc>
                  <defs />
                  <path id="Icon"
                    d="M0.29 0.29C0.68 -0.1 1.31 -0.1 1.7 0.29L5 3.58L8.29 0.29C8.68 -0.1 9.31 -0.1 9.7 0.29C10.09 0.68 10.09 1.31 9.7 1.7L5.7 5.7C5.31 6.09 4.68 6.09 4.29 5.7L0.29 1.7C-0.1 1.31 -0.1 0.68 0.29 0.29Z"
                    fill="#101010" fill-opacity="1.000000" fill-rule="evenodd" />
                </svg>
                x
                10%
              </div>
            </div>
            <p class="features__stats-item-descr">
              Your Expanse of this month compared to last month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="features__right">
      <h2 class="features__title heading-h2">
        Passion to increase company revenue up to 85%
      </h2>
      <p class="features__descr text-p-medium">
        Automate your sales, marketing and service in one platform. Avoid date leaks and enable consistent messaging
      </p>
      <ul class="features__list">
        <li class="features__item text-p-medium">
          Close more deals with single - page contact managment
        </li>
        <li class="features__item text-p-medium">
          Enjoy one-click calling, call scripts and voicemail automation
        </li>
        <li class="features__item text-p-medium">
          Take stages and milestones of your deals to keep the sales process an track
        </li>
      </ul>
    </div>
  </div>
</section>