
<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">we have some new Service to pamper you</p>
    <div class="swiper insight__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            src="./assets/image/insight-slide-img-1.jpg"
            width="582"
            height="332"
            alt="A woman at a computer taking notes in a notepad"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <a href="/coca/post.html">
            <h3 class="insight__article-title heading-h5">
              What makes an authentic employee profile, and why does it matter ?
            </h3>
          </a>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            src="./assets/image/insight-slide-img-2.jpg"
            width="582"
            height="332"
            alt="A man typing on a laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <a href="/coca/post.html">
            <h3 class="insight__article-title heading-h5">
              How to build a Kaylen relationship with a good company
            </h3>
          </a>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            src="./assets/image/insight-slide-img-1.jpg"
            width="582"
            height="332"
            alt="A man typing on a laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <a href="/coca/post.html">
            <h3 class="insight__article-title heading-h5">
              How to build a Kaylen relationship with a good company
            </h3>
          </a>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
