<section class="strength">
  <div class="container strength__container">
    <ul class="strength__list">
      <li class="strength__item text-p-medium">
        <span class="strength__item-num">17k</span>
        happy customers on worldwide
      </li>
      <li class="strength__item text-p-medium">
        <span class="strength__item-num">15+</span>
        Hours of work experience
      </li>
      <li class="strength__item text-p-medium">
        <span class="strength__item-num">50+ </span>
        Creativity & passionate members
      </li>
      <li class="strength__item text-p-medium">
        <span class="strength__item-num">100+</span>
        Integrations lorem ipsum integrations
      </li>
    </ul>
    <img 
    class="strength__img"
    src="./assets/image/group-of-people.jpg" 
    width="1200"
    height="536"
    alt="Group of people"
    loading="lazy">
    <div class="strength__info">
      <h2 class="strength__title heading-h2">
        Lift your business to new heights with our digital marketing services
      </h2>
      <p class="strength__descr text-p-medium">
        To build software that gives customer facing teams in small and medium-sized businesses the ability to create rewarding and long-lasting relationships with customers
      </p>
    </div>
  </div>
</section>