<section class="testimonials">
  <div class="container">
    <div class="testimonials__head">
      <h2 class="testimonials__title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials__descr text-p-medium">
        We are trusted numerous companies from different business to meet their needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img src="./assets/icons/rating-icon.svg" loading="lazy" width="132" height="20" alt="Fife stars">
              <span class="testimonials__rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes
              a surge of visitors on my website”
            </p>
            <address class="testimonials__comment-author">
              <img class="testimonials__comment-author-avatar" src="./assets/image/comment-author-1.jpg" loading="lazy"
                width="56" height="56" alt="Renee Wells">
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium"></p>Renee Wells</p>
                <p class="testimonials__comment-author-professions text-p-default">RProduct Designer, Quotient</p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img src="./assets/icons/rating-icon.svg" loading="lazy" width="132" height="20" alt="Fife stars">
              <span class="testimonials__rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes
              a surge of visitors on my website”
            </p>
            <address class="testimonials__comment-author">
              <img class="testimonials__comment-author-avatar" src="./assets/image/comment-author-1.jpg" loading="lazy"
                width="56" height="56" alt="Renee Wells">
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium"></p>Renee Wells</p>
                <p class="testimonials__comment-author-professions text-p-default">RProduct Designer, Quotient</p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img src="./assets/icons/rating-icon.svg" loading="lazy" width="132" height="20" alt="Fife stars">
              <span class="testimonials__rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes
              a surge of visitors on my website”
            </p>
            <address class="testimonials__comment-author">
              <img class="testimonials__comment-author-avatar" src="./assets/image/comment-author-1.jpg" loading="lazy"
                width="56" height="56" alt="Renee Wells">
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium"></p>Renee Wells</p>
                <p class="testimonials__comment-author-professions text-p-default">RProduct Designer, Quotient</p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="testimonials__btns">
        <button class="testimonials__btn testimonials__btn--prev" title="button">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8" />
          </svg>
        </button>
        <button class="testimonials__btn testimonials__btn--next" title="button">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>