<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__head">
      <h2 class="testimonials__title heading-h2">What our customer are saying</h2>
      <p class="testimonials__descr text-p-medium">
        We are trusted numerous companies from different business to meet their needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="swiper testimonials__sliders">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <ul class="testimonials__rating-stars">
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
              </ul>
              <span class="testimonials__rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight quality and
              innovative design that makes a surge of visitors on my website”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                class="testimonials__comment-author-avatar"
                src="./assets/image/comment-author-1.jpg"
                width="56"
                height="56"
                alt="Auther avatar"
              />
              <div class="testimonials__comment-author-info">
                <h3 class="testimonials__comment-author-name text-p-medium">Renee Wells</h3>
                <p class="testimonials__comment-author-profession text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <ul class="testimonials__rating-stars">
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
                <li>
                  <img
                    loading="lazy"
                    src="./assets/icons/rating-icon.svg"
                    width="20"
                    height="20"
                    alt="Stars"
                  />
                </li>
              </ul>
              <span class="testimonials__rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “Excellent company, the guys are professionals, waiting time is minimal, everything is
              competent and high quality.”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                class="testimonials__comment-author-avatar"
                src="./assets/image/comment-author-1.jpg"
                width="56"
                height="56"
                alt="Auther avatar"
              />
              <div class="testimonials__comment-author-info">
                <h3 class="testimonials__comment-author-name text-p-medium">Alexandra Ivanova</h3>
                <p class="testimonials__comment-author-profession text-p-default">
                  Marketing Director
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="testimonials__nav">
        <button class="testimonials__btn testimonials__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="white"
            />
          </svg>
        </button>
        <button class="testimonials__btn testimonials__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>